@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

body {
  font-family: var.$font-family-base;
  font-size: var.$font-size-base;
  font-weight: var.$font-weight-base;
  line-height: var.$line-height-base;
  color: var.$text-color-base;
}

h1,
h2,
h3 {
  color: #000;
  margin-bottom: math.div(var.$gutter-base, 2);
  line-height: var.$line-height-small;
}

h1 {
  font-size: var.$heading-size-bigger;

  @include mix.mobile-l-styles {
    font-size: var.$heading-size-big;
  }
}

h2 {
  font-size: var.$heading-size-big;

  @include mix.mobile-l-styles {
    font-size: var.$heading-size-small;
  }
}

h3 {
  font-size: var.$heading-size-tiny;
}

ul {
  line-height: 2;
  list-style-type: circle;
}

.inner {
  @extend %wrap;
}

.wrap90 {
  @extend %wrap90;
}

.wrap80 {
  @extend %wrap80;
}

.wrap40 {
  @extend %wrap40;
}

.btn {
  background-color: var.$background-color-tertiary;
  color: white;
  border: 2px solid var.$background-color-tertiary;
  font-weight: var.$font-weight-bold;
  border-radius: math.div(var.$border-radius, 2);
  padding-top: math.div(var.$gutter-base, 2);
  padding-bottom: math.div(var.$gutter-base, 2);
  padding-right: var.$gutter-base;
  padding-left: var.$gutter-base;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var.$background-color-tertiary;
  color: var.$background-color-tertiary;
  font-weight: var.$font-weight-bold;
  border-radius: math.div(var.$border-radius, 2);
  padding-top: math.div(var.$gutter-base, 2);
  padding-bottom: math.div(var.$gutter-base, 2);
  padding-right: var.$gutter-base;
  padding-left: var.$gutter-base;
  text-transform: uppercase;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  @include mix.tablet-styles {
    flex-wrap: wrap;
  }
}

.row-between {
  display: flex;
  justify-content: space-between;

  @include mix.mobile-l-styles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.flex33 {
  flex-basis: 33.33%;

  @include mix.tablet-styles {
    flex-basis: 100%;
  }
}

.flex {
  display: flex;
}

.flex-img {
  display: flex;
  @include mix.tablet-styles {
    flex-wrap: wrap;
  }
}
.wrapper {
  margin-right: -(var.$gutter-base * 2);

  @include mix.tablet-styles {
    margin-right: 0;
  }
}
