

.banner {
    background-image: url(https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3432&q=80);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.bg-img {
    background-image: url(https://i.pinimg.com/originals/72/a1/84/72a184aa7846cad0d5a82cf55dc3f406.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}


