@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.text-box {
    text-align: center;

    h2 {
        padding-top: var.$gutter-base * 2;
        padding-bottom: var.$gutter-base;
    }

    p {
        padding-bottom: var.$gutter-base;
    }
    hr {
        border: 2px solid var.$background-color-tertiary;
        border-radius: var.$border-radius;
        width: 40%;
    }
}
